{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "uglify": true,
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
