{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "uglify": true
            }
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
