.heading {
  display: block;
  padding: 1.5rem 0;
  margin: 1rem auto 2rem;

  font-size: 3.2rem;
  color: var(--color-grey-dark-1);
  text-align: center;
  font-weight: 400;
}

.content_heading {
  display: block;
  padding: 1rem 0 0;

  font-size: 2.4rem;
  color: var(--color-grey-dark-2);
  font-weight: 400;
}

.label {
  font-size: 1.6rem;
  color: var(--color-grey-dark-2);
  font-weight: 500;
}

.form_group {
  input {
    &::placeholder {
      font-weight: 300;
    }
  }
  .form_control {
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: var(--color-grey-dark-2);
    border: 1px solid var(--color-aero-blue);
    outline: none;
    border-radius: .3rem;
    font-weight: 300;
  }
  .form_textarea {
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--color-grey-dark-2);
    border: 1px solid var(--color-aero-blue);
    outline: none;
    border-radius: .3rem;
    font-weight: 300;
  }
  .form_error {
    display: none;
    font-size: 1.2rem;
    color: red;
    padding: 0 1rem;
  }
  .form_el_margin {
    margin-bottom: 1rem;
  }
  .show {
    display: block !important;
  }
  .hide {
    display: none !important;
  }
}

.btn_container {
  text-align: center;
  .btn {
    padding: .75rem 2.5rem;
    border: 1px solid var(--color-grey-light-1);
    background: var(--color-pacific-blue);
    border-radius: .5rem;
    color: var(--color-grey-light-1);
    transition: all .3s ease-in-out;
    &:hover {
      background: var(--color-grey-light-1);
      color: var(--color-pacific-blue);
      border: 1px solid var(--color-pacific-blue);
      cursor: pointer;
    }
  }
}

// MOBILE SCREENS
@media only screen and (max-width: $bp-smallest) {
  .form_group {
    .form_textarea {
      width: 100%;
    }
  }
}
